{% extends 'base.html'  %}
{% load static %}
{%block title %}index page{% endblock%}


{% block image_block %}
<!-- section 1 for standards-->

<section id="best-features" class="text-center">
              <hr></hr>
              <hr></hr>
              <h2 class="mb-5 mt-5 font-weight-bold" style="color:#26abff;">Team CYC</h2>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
                <div class="row d-flex justify-content-center mb-3">
                  <blockquote class="blockquote mt-0">
                    <footer class="blockquote-footer" style="font-weight:bold;font-size:20px;">Developed By Nihal Mirza And Uday Kiran .</cite></footer>
                    <footer class="blockquote-footer" style="font-weight:bold;font-size:20px;">Andhra Loyola Institute OF Engineering And Technology .</cite></footer>
                  </blockquote>
                </div>
                
              </div>
              
             
</section> 

{%endblock%}


{% block content %}




{%endblock%}
